html,
body {
    height: 100%;
    background-color: rgb(245, 245, 245);
}

#shareFormWrapper {
    width: max-content;
    height: max-content;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    border: solid 3px rgb(240, 240, 240);
    border-radius: 10px;
}

    #shareFormWrapper>button {
        width: max-content;
        margin: auto auto auto 0;
        padding: 5px;
    }

    #shareFormTitle {
        margin: 30px auto 0 auto;
    }

    #inputWrapper {
        margin: 20px auto 0 auto;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

        #personInput {
            width: max-content;
            padding: 2px 5px;
        }

    #personInputSubmit {
        margin: 10px auto 30px auto;
    }